/* = Variables, Extends, Mixins================================================*/
/* font family: fira */
/* font family: proxima nova */
/* bg and colors */
/* media */
/* mixins */
/* extends */
.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* = Nav icons================================================*/
.b-icon-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  width: 25px;
  background: url("../img/icon/nav-toggle.png") no-repeat 0 50%; }

/* = Contact icons================================================*/
.b-icon-contact {
  position: relative; }
  @media (min-width: 321px) and (max-width: 768px) {
    .b-icon-contact {
      text-align: center; } }
  @media (min-width: 1024px) {
    .b-icon-contact {
      padding-left: 42px; } }
  .b-icon-contact:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    margin-right: 20px;
    background-image: url(../img/icon/contacts-spr.png);
    background-repeat: no-repeat; }
    @media (min-width: 321px) and (max-width: 768px) {
      .b-icon-contact:before {
        margin-right: 15px; } }
  .b-icon-contact.m-mail:before {
    background-position: -5px -5px; }
  .b-icon-contact.m-phone:before {
    background-position: -36px -5px; }
  .b-icon-contact.m-skype:before {
    background-position: -67px -5px; }

/* = Coloured close icons================================================*/
.b-icon-msg-close {
  background-image: url(../img/form/close-colored-spr.png);
  background-repeat: no-repeat; }
  .b-icon-msg-close.m-green {
    background-position: -2px -2px; }
  .b-icon-msg-close.m-red {
    background-position: -17px -2px; }

/* = Login icons================================================*/
.b-icon-login {
  display: block;
  width: 20px;
  height: 32px;
  text-indent: -9999px;
  background-image: url(../img/icon/login-spr.png);
  background-repeat: no-repeat; }
  .b-icon-login.m-lock {
    background-position: -5px -5px; }
  .b-icon-login.m-opened {
    background-position: -35px -5px; }

/* = Education icons================================================*/
.b-icon-education {
  padding-top: 45px;
  position: relative; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-icon-education {
      padding: 0 0 0 112px; } }
  @media (min-width: 1024px) {
    .b-icon-education {
      padding: 0 0 0 105px; } }
  .b-icon-education:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 0;
    width: 41px;
    height: 34px;
    background-image: url(../img/icon/education-spr.png);
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .b-icon-education:before {
        top: 0;
        margin: 0;
        left: 43px; } }
    @media (min-width: 1024px) {
      .b-icon-education:before {
        left: 37px; } }
  .b-icon-education.m-case:before {
    background-position: -5px -5px; }
  .b-icon-education.m-learn:before {
    background-position: -56px -5px; }
  .b-icon-education.m-list:before {
    background-position: -107px -5px; }

/* = Social icons================================================*/
.b-icon-social {
  display: block;
  width: 47px;
  height: 47px;
  text-indent: -9999px;
  background: url(../img/icon/social-spr.png) no-repeat;
  background-position-y: -5px;
  transition: all .3s ease-in-out; }
  .b-icon-social.m-vk {
    background-position: -5px -5px; }
    .b-icon-social.m-vk:hover {
      background-position: -5px -62px; }
  .b-icon-social.m-twitter {
    background-position: -62px -5px; }
    .b-icon-social.m-twitter:hover {
      background-position: -62px -62px; }
  .b-icon-social.m-facebook {
    background-position: -119px -5px; }
    .b-icon-social.m-facebook:hover {
      background-position: -119px -62px; }
  .b-icon-social.m-github {
    background-position: -176px -5px; }
    .b-icon-social.m-github:hover {
      background-position: -176px -62px; }

.m-invert .b-icon-social.m-vk {
  background-position: -5px -62px; }
  .m-invert .b-icon-social.m-vk:hover {
    background-position: -5px -5px; }
.m-invert .b-icon-social.m-twitter {
  background-position: -62px -62px; }
  .m-invert .b-icon-social.m-twitter:hover {
    background-position: -62px -5px; }
.m-invert .b-icon-social.m-facebook {
  background-position: -119px -62px; }
  .m-invert .b-icon-social.m-facebook:hover {
    background-position: -119px -5px; }
.m-invert .b-icon-social.m-github {
  background-position: -176px -62px; }
  .m-invert .b-icon-social.m-github:hover {
    background-position: -176px -5px; }

/* = User icons================================================*/
.b-icon-user {
  background-image: url(../img/icon/user-spr.png);
  background-repeat: no-repeat; }
  .b-icon-user.m-boy {
    background-position: -5px -5px; }
  .b-icon-user.m-girl {
    background-position: -165px -5px; }
