/* = Fonts================================================*/
/* = Fira================================================*/
@font-face {
  font-family: 'fira_sanslight';
  src: url('../fonts/fira/firasans-light.eot');
  src: url('../fonts/fira/firasans-light.eot?#iefix') format('embedded-opentype'), url('../fonts/fira/firasans-light.woff') format('woff'), url('../fonts/fira/firasans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fira_sanslight_italic';
  src: url('../fonts/fira/firasans-lightitalic.eot');
  src: url('../fonts/fira/firasans-lightitalic.eot?#iefix') format('embedded-opentype'), url('../fonts/fira/firasans-lightitalic.woff') format('woff'), url('../fonts/fira/firasans-lightitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fira_sansbook';
  src: url('../fonts/fira/firasans-book.eot');
  src: url('../fonts/fira/firasans-book.eot?#iefix') format('embedded-opentype'), url('../fonts/fira/firasans-book.woff') format('woff'), url('../fonts/fira/firasans-book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fira_sansregular';
  src: url('../fonts/fira/firasans-regular.eot');
  src: url('../fonts/fira/firasans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/fira/firasans-regular.woff') format('woff'), url('../fonts/fira/firasans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fira_sansmedium';
  src: url('../fonts/fira/firasans-medium.eot');
  src: url('../fonts/fira/firasans-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/fira/firasans-medium.woff') format('woff'), url('../fonts/fira/firasans-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

/* = Proxima Nova================================================*/
@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../fonts/proximanova/ProximaNova-Semibold-webfont.eot');
  src: url('../fonts/proximanova/ProximaNova-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/ProximaNova-Semibold-webfont.woff') format('woff'), url('../fonts/proximanova/ProximaNova-Semibold-webfont.ttf') format('truetype'), url('../fonts/proximanova/ProximaNova-Semibold-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal; }

/* = Main================================================*/
/* = Variables, Media, Extends, Mixins================================================*/
/* font family: fira */
/* font family: proxima nova */
/* colors and default variables */
/* media */
/* mixins */
/* extends */
.list-reset, .b-nav-list, .b-contact-list, .b-education-list, .b-project-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* = General================================================*/
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 1em;
  line-height: 1.4;
  color: #4a545d;
  background: #fff url(../img/bg/main-bg.jpg) repeat 0 0; }

:focus {
  outline: none; }

img {
  max-width: 100%; }

/* = Typography================================================*/
h1 {
  font-size: 1.6875em; }

h2 {
  font-size: 1.5625em; }

h3 {
  font-size: 1.4375em; }

p {
  font-size: 0.9375em; }

/* = Layout================================================*/
/* main container */
.h-base-container {
  min-height: 100%;
  overflow: hidden; }

/* = Header================================================*/
.l-header {
  padding: 9px 15px;
  line-height: 37px;
  background: #eff3f7;
  position: relative;
  margin-bottom: 3px; }
  .l-header:after {
    content: '';
    position: absolute;
    height: 3px;
    bottom: -3px;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(231, 239, 243, 0.95) 0%, rgba(28, 102, 122, 0.95) 50%, rgba(231, 239, 243, 0.95) 100%); }
  @media (min-width: 768px) and (max-width: 1023px) {
    .l-header {
      padding: 35px 36px 33px; } }
  @media (min-width: 1024px) {
    .l-header {
      padding: 35px 35px 34px; } }

.b-header {
  position: relative; }
  @media (min-width: 1024px) {
    .b-header {
      max-width: 1200px;
      margin: 0 auto;
      box-sizing: content-box; } }

/* header: logo */
.b-logo {
  display: inline-block;
  max-width: 166px; }
  @media (min-width: 768px) {
    .b-logo {
      max-width: 243px;
      float: left; } }

.b-logo-img {
  display: inline-block;
  vertical-align: middle; }

/* = Footer================================================*/
.l-footer {
  padding: 0 30px;
  background: #eff3f7;
  position: relative;
  height: 37px;
  margin-top: -37px;
  padding-top: 3px; }
  .l-footer:after {
    content: '';
    position: absolute;
    height: 3px;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(231, 239, 243, 0.95) 0%, rgba(28, 102, 122, 0.95) 50%, rgba(231, 239, 243, 0.95) 100%); }
  @media (min-width: 768px) and (max-width: 1023px) {
    .l-footer {
      padding: 0 34px;
      height: 54px;
      margin-top: -54px; } }
  @media (min-width: 1024px) {
    .l-footer {
      padding: 0 34px;
      height: 81px;
      margin-top: -81px; } }

.b-footer {
  height: 100%;
  text-align: center;
  position: relative; }
  @media (min-width: 1024px) {
    .b-footer {
      max-width: 960px;
      margin: 0 auto;
      box-sizing: content-box; } }
  @media (min-width: 768px), (min-width: 321px) and (max-width: 768px) {
    .b-footer:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 0; } }

.b-footer-push {
  height: 37px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-footer-push {
      height: 54px; } }
  @media (min-width: 1024px) {
    .b-footer-push {
      height: 81px; } }

/* footer: login */
.b-footer-login {
  position: absolute;
  top: 50%;
  left: 32px;
  margin-top: -16px;
  display: none; }
  @media (min-width: 1024px) {
    .b-footer-login {
      display: block; } }

/* footer: copyright */
.b-copyright {
  font: 0.6875em/1.1 'fira_sanslight';
  display: inline-block;
  vertical-align: middle;
  margin: 0.5em 0; }
  @media (min-width: 768px) {
    .b-copyright {
      font-size: 0.8125em; } }

/* = Fixes for old browsers================================================*/
.no-cssgradients .l-header:after, .no-cssgradients .l-footer:after {
  background-image: url('../img/bg/ie-grad-seprator.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%; }

/* = Columns================================================*/
.b-content-container {
  padding: 15px 13px 0; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-content-container {
      padding: 35px 34px 33px; } }
  @media (min-width: 1024px) {
    .b-content-container {
      padding: 39px 20px;
      max-width: 960px;
      margin: 0 auto;
      box-sizing: content-box; } }

@media (min-width: 1024px) {
  .b-sidebar {
    float: left;
    width: 26.04167%; } }

@media (min-width: 1024px) {
  .b-content {
    float: right;
    width: 67.70833%; } }

/* = Section================================================*/
.b-section {
  background: #eff3f7;
  border-radius: 4px;
  margin-bottom: 16px; }
  .b-section:last-child {
    margin-bottom: 40px; }
    @media (min-width: 321px) and (max-width: 768px), (min-width: 768px) and (max-width: 1023px) {
      .b-section:last-child {
        margin-bottom: 33px; } }
    @media (min-width: 1024px) {
      .b-section:last-child {
        margin-bottom: 0; } }
  @media (min-width: 768px) {
    .b-section {
      margin-bottom: 24px; } }

.ie8 .b-section.slvzr-last-child {
  margin-bottom: 40px; }
  @media (min-width: 321px) and (max-width: 768px), (min-width: 768px) and (max-width: 1023px) {
    .ie8 .b-section.slvzr-last-child {
      margin-bottom: 33px; } }
  @media (min-width: 1024px) {
    .ie8 .b-section.slvzr-last-child {
      margin-bottom: 0; } }

.b-section-title {
  font: 1.5em/1.25 'fira_sansbook';
  color: #3ba8c0;
  padding: 10px;
  margin: 0;
  text-align: center;
  clear: both; }
  @media (min-width: 768px) {
    .b-section-title {
      font: 1.6875em/1.4 'fira_sansbook';
      text-align: left;
      display: inline-block;
      border-bottom: 2px solid #3ba8c0; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-section-title {
      padding: 24px 22px 11px 24px; } }
  @media (min-width: 1024px) {
    .b-section-title {
      padding: 15px 23px; } }

.b-section-body {
  padding: 10px; }
  @media (min-width: 768px) {
    .b-section-body {
      padding: 20px; } }

/* = Navigation================================================*/
.b-nav {
  display: none; }
  .b-nav.m-flyout {
    display: block; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .b-nav.m-flyout {
        display: inline-block; } }
  @media (min-width: 1024px) {
    .b-nav {
      display: block;
      margin-bottom: 28px; } }

.b-nav-list {
  background: #eff3f7;
  -webkit-filter: drop-shadow(1px 4px 5px rgba(13, 16, 7, 0.35));
  filter: drop-shadow(1px 4px 5px rgba(13, 16, 7, 0.35)); }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-nav-list {
      background: #fff;
      -webkit-filter: drop-shadow(1px 3px 8px rgba(13, 16, 7, 0.35));
      filter: drop-shadow(1px 3px 8px rgba(13, 16, 7, 0.35)); } }
  @media (min-width: 768px) {
    .b-nav-list {
      border-radius: 4px; } }
  @media (min-width: 1024px) {
    .b-nav-list {
      -webkit-filter: none;
      filter: none; } }

.b-nav-item {
  position: relative; }
  @media (min-width: 768px) {
    .b-nav-item {
      text-align: left;
      white-space: normal;
      border: none; }
      .b-nav-item:first-child .b-nav-link {
        border-radius: 4px 4px 0 0; }
      .b-nav-item:last-child .b-nav-link {
        border-radius: 0 0 4px 4px; }
        .b-nav-item:last-child .b-nav-link:before {
          display: none; } }

.ie8 .b-nav-item:last-child .b-nav-link:before {
  display: none; }

.b-nav-link {
  font: 1.5em 'fira_sansregular';
  color: #959aa8;
  text-decoration: none;
  padding: 9px 28px;
  display: block;
  white-space: nowrap;
  text-align: center;
  border-bottom: 1px solid #8196ac; }
  .b-nav-link:not(.m-active):hover {
    color: #3ba8c0;
    transition: color .5s ease; }
  @media (min-width: 768px) {
    .b-nav-link {
      text-align: left;
      white-space: normal;
      border: none; }
      .b-nav-link:before {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: -2px;
        border-bottom: 2px solid #3ba8c0; }
      .b-nav-link.m-active:before {
        display: none; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-nav-link {
      font: 1.25em 'fira_sansbook';
      padding: 21px 20px;
      min-width: 238px; }
      .b-nav-link:before {
        left: 7px;
        right: 7px; } }
  @media (min-width: 1024px) {
    .b-nav-link {
      font: 1.3125em 'fira_sansbook';
      padding: 19px 28px; }
      .b-nav-link:before {
        left: 10px;
        right: 10px; } }
  .b-nav-link.m-active {
    color: #fff;
    background: #3ba8c0;
    /*@media (min-width: 768px) and (max-width: 1023px) {			font-size: 1.3125em;		}		@media (min-width: 1024px) {			font-size: 1.4375em;		}*/ }

/* nav toggle */
@media (min-width: 1024px) {
  .b-nav-toggle {
    display: none; } }

.b-nav-flyout {
  display: none;
  position: absolute;
  right: -15px;
  left: -15px;
  top: 100%;
  z-index: 10;
  padding-top: 7px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-nav-flyout {
      right: -35px;
      left: auto;
      padding-top: 8px; } }

.b-nav-arrow:after {
  content: " ";
  position: absolute;
  right: 37px;
  bottom: 100%;
  height: 0;
  width: 0;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom-color: #fff;
  pointer-events: none;
  display: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-nav-arrow:after {
      display: block; } }
.b-nav-arrow.m-active:after {
  border-bottom-color: #3ba8c0; }

/* = Social list================================================*/
.b-social-list {
  margin: 0;
  padding: 0;
  font-size: 0;
  display: none;
  line-height: 0; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-social-list {
      padding-right: 86px; } }
  @media (min-width: 768px) {
    .b-social-list {
      display: block;
      float: right; } }
  .b-social-list.m-mob {
    text-align: center;
    margin: 22px 0;
    display: block; }
    @media (min-width: 768px) {
      .b-social-list.m-mob {
        display: none; } }

.b-social-item {
  display: inline-block;
  margin-left: 24px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-social-item {
      margin-left: 15px; } }
  .b-social-item:first-child {
    margin-left: 0; }

.m-mob .b-social-item {
  margin: 0 10px; }

/* = Contacts================================================*/
.b-contacts {
  margin: 0 -13px;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-contacts {
      margin: 0 -34px; } }
  @media (min-width: 1024px) {
    .b-contacts {
      margin: 0;
      text-align: left; } }

.b-contact-title {
  color: #fff;
  padding: 7px 21px 0;
  background: #3ba8c0;
  border-radius: 4px 4px 0 0;
  display: none; }
  @media (min-width: 1024px) {
    .b-contact-title {
      display: block;
      border-radius: 4px 4px 0 0; } }

.b-contact-text {
  font: 1.3125em 'fira_sansbook'; }

.b-contact-list {
  border-radius: 4px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-contact-list {
      display: table;
      width: 100%; } }

.b-contact-item {
  background: #41b9d4; }
  .b-contact-item:nth-child(3n+1) {
    background: #41b9d4; }
  .b-contact-item:nth-child(3n+2) {
    background: #48cbe8; }
  .b-contact-item:nth-child(3n+3) {
    background: #51daf8; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-contact-item {
      display: table-cell;
      vertical-align: middle;
      width: 33.33333%; } }
  @media (min-width: 1024px) {
    .b-contact-item:last-child {
      border-radius: 0 0 4px 4px; } }

.b-contact-link {
  color: #fff;
  font: 1.0625em/1.4 'fira_sansbook';
  text-decoration: none;
  padding: 8px 18px;
  display: block;
  word-break: break-all; }
  .b-contact-link:hover {
    text-decoration: underline; }
  @media (min-width: 321px) and (max-width: 768px), (min-width: 768px) and (max-width: 1023px) {
    .b-contact-link {
      padding: 11px 18px; } }

/* = Unhappy browser================================================*/
.b-unhappy-browser {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.3em;
  text-align: center; }

/* = Global Modifiers================================================*/
.m-hidden {
  display: none !important;
  visibility: hidden; }

.m-invisible {
  visibility: hidden; }

.m-break {
  display: block;
  word-break: break-all; }

.m-nowrap {
  white-space: nowrap; }

.m-to-right {
  float: right; }

.m-to-left {
  float: left; }

.m-center {
  text-align: center !important; }

.m-left {
  text-align: left !important; }

.m-right {
  text-align: right !important; }

/* = Cleaner================================================*/
.m-cfix:before, .m-cfix:after {
  content: "";
  display: table; }

.m-cfix:after {
  clear: both; }

/* = Icons================================================*/
/* = Variables, Media, Extends, Mixins================================================*/
/* font family: fira */
/* font family: proxima nova */
/* colors and default variables */
/* media */
/* mixins */
/* extends */
.list-reset, .b-nav-list, .b-contact-list, .b-education-list, .b-project-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* = Nav icons================================================*/
.b-icon-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  width: 25px;
  background-image: url("../img/icon/nav-toggle.png");
  background-repeat: no-repeat;
  background-position: right center; }

/* = Contact icons================================================*/
.b-icon-contact {
  position: relative; }
  @media (min-width: 321px) and (max-width: 768px) {
    .b-icon-contact {
      text-align: center; } }
  @media (min-width: 1024px) {
    .b-icon-contact {
      padding-left: 42px; } }
  .b-icon-contact:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    margin-right: 20px;
    background-image: url(../img/icon/contacts-spr.png);
    background-repeat: no-repeat; }
    @media (min-width: 321px) and (max-width: 768px) {
      .b-icon-contact:before {
        margin-right: 15px; } }
  .b-icon-contact.m-mail:before {
    background-position: -5px -5px; }
  .b-icon-contact.m-phone:before {
    background-position: -36px -5px; }
  .b-icon-contact.m-skype:before {
    background-position: -67px -5px; }

/* = Close icons================================================*/
.b-icon-close {
  background-image: url(../img/form/close.png);
  background-repeat: no-repeat; }

/* = Coloured close icons================================================*/
.b-icon-msg-close {
  background-image: url(../img/form/close-colored-spr.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  position: absolute;
  right: -8px;
  top: 0;
  height: 15px;
  width: 15px;
  cursor: pointer; }
  .b-icon-msg-close:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px; }

.m-success .b-icon-msg-close {
  background-position: -2px -2px; }

.m-error .b-icon-msg-close {
  background-position: -17px -2px; }

/* = Login icons================================================*/
.b-icon-login {
  display: block;
  width: 20px;
  height: 32px;
  text-indent: -9999px;
  background-image: url(../img/icon/login-spr.png);
  background-repeat: no-repeat; }
  .b-icon-login.m-lock {
    background-position: -5px -5px; }
  .b-icon-login.m-opened {
    background-position: -35px -5px; }

/* = Education icons================================================*/
.b-icon-education {
  padding-top: 49px;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 0; }
  .b-icon-education.m-case {
    background-image: url(../img/icon/case-icon.png); }
  .b-icon-education.m-learn {
    background-image: url(../img/icon/learn-icon.png); }
  .b-icon-education.m-list {
    background-image: url(../img/icon/list-icon.png); }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-icon-education {
      padding: 0 0 0 112px;
      background-position: 45px 0; } }
  @media (min-width: 1024px) {
    .b-icon-education {
      padding: 0 0 0 105px;
      background-position: 36px 0; } }

/* = Social icons================================================*/
.b-icon-social {
  display: block;
  width: 47px;
  height: 47px;
  text-indent: -9999px;
  background-image: url(../img/icon/social-spr.png);
  background-repeat: no-repeat;
  transition: all .3s ease-in-out; }
  .b-icon-social.m-vk {
    background-position: -5px -5px; }
    .b-icon-social.m-vk:hover {
      background-position: -5px -62px; }
  .b-icon-social.m-twitter {
    background-position: -62px -5px; }
    .b-icon-social.m-twitter:hover {
      background-position: -62px -62px; }
  .b-icon-social.m-facebook {
    background-position: -119px -5px; }
    .b-icon-social.m-facebook:hover {
      background-position: -119px -62px; }
  .b-icon-social.m-github {
    background-position: -176px -5px; }
    .b-icon-social.m-github:hover {
      background-position: -176px -62px; }

.m-invert .b-icon-social.m-vk {
  background-position: -5px -62px; }
  .m-invert .b-icon-social.m-vk:hover {
    background-position: -5px -5px; }
.m-invert .b-icon-social.m-twitter {
  background-position: -62px -62px; }
  .m-invert .b-icon-social.m-twitter:hover {
    background-position: -62px -5px; }
.m-invert .b-icon-social.m-facebook {
  background-position: -119px -62px; }
  .m-invert .b-icon-social.m-facebook:hover {
    background-position: -119px -5px; }
.m-invert .b-icon-social.m-github {
  background-position: -176px -62px; }
  .m-invert .b-icon-social.m-github:hover {
    background-position: -176px -5px; }

/* = User icons================================================*/
.b-icon-user {
  background-image: url(../img/icon/user-spr.png);
  background-repeat: no-repeat; }
  .b-icon-user.m-boy {
    background-position: -5px -5px; }
  .b-icon-user.m-girl {
    background-position: -165px -5px; }

/* = Home================================================*/
/* = Variables, Media, Extends, Mixins================================================*/
/* font family: fira */
/* font family: proxima nova */
/* colors and default variables */
/* media */
/* mixins */
/* extends */
.list-reset, .b-nav-list, .b-contact-list, .b-education-list, .b-project-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* = Home page================================================*/
/* avatar */
.b-avatar {
  max-width: 130px;
  margin: 0 auto;
  box-sizing: content-box;
  margin-bottom: 20px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-avatar {
      float: left;
      max-width: 197px;
      margin: 10px 43px 10px 16px; } }
  @media (min-width: 1024px) {
    .b-avatar {
      float: left;
      max-width: 150px;
      margin: 23px 23px 20px 35px; } }

.b-avatar-img {
  border-radius: 50%;
  border: 4px solid #3ba8c0; }

/* profile list */
.b-profile-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  @media (min-width: 768px) {
    .b-profile-list {
      text-align: left;
      display: table;
      margin-bottom: 8px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-profile-list {
      margin: 5px 0 16px; } }

.b-profile-item {
  color: #4a545d;
  margin: 5px 0 24px; }
  @media (max-width: 320px), (min-width: 321px) and (max-width: 768px) {
    .b-profile-item:last-child {
      margin-bottom: 0; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-profile-item {
      margin: 16px 0; } }
  @media (min-width: 1024px) {
    .b-profile-item {
      margin: 6px 0 13px; } }

@media (min-width: 768px) {
  .b-profile-label, .b-profile-value {
    display: table-cell;
    vertical-align: top; } }

.b-profile-label {
  font: 1.25em/25px 'fira_sansmedium';
  white-space: nowrap; }
  @media (min-width: 768px) {
    .b-profile-label {
      font: 1.1875em/20px 'fira_sansmedium';
      padding-right: 10px; } }
  @media (min-width: 1024px) {
    .b-profile-label {
      font: 1.0625em/20px 'fira_sansmedium';
      padding-right: 19px; } }

.b-profile-value {
  font: 1.1875em/25px 'fira_sansregular'; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-profile-value {
      font: 1.125em/20px 'fira_sansbook'; } }
  @media (min-width: 1024px) {
    .b-profile-value {
      font: .9375em/20px 'fira_sansbook'; } }

/* skill list */
.b-skill-list {
  max-width: 128px;
  font-size: 0;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  text-align: left; }
  @media (min-width: 768px) {
    .b-skill-list {
      max-width: 225px; } }

.ie8 .b-skill-list {
  max-width: 168px; }
  @media (min-width: 768px) {
    .ie8 .b-skill-list {
      max-width: 225px; } }

.b-skill-item {
  font: 14px 'proxima_novasemibold';
  color: #fff;
  display: inline-block;
  padding: 1px 12px;
  margin: 4px;
  text-align: center;
  min-width: 52px;
  background: #3ba8c0;
  background: linear-gradient(to bottom, #3ba8c0 0%, #3ba8c0 47%, #2e8ca2 48%, #2e8ca2 100%);
  border-radius: 2px;
  cursor: default; }
  @media (min-width: 768px) {
    .b-skill-item {
      margin: 4px 12px 4px 0;
      min-width: 44px; } }
  @media (min-width: 1024px) {
    .b-skill-item {
      margin: 4px 8px 4px 0; } }

/* education list */
.b-education-list {
  text-align: center; }
  @media (min-width: 768px) {
    .b-education-list {
      text-align: left; } }

.b-education-item {
  color: #4a545d;
  margin: 5px 0 27px; }
  @media (max-width: 320px), (min-width: 321px) and (max-width: 768px) {
    .b-education-item:last-child {
      margin-bottom: 0; } }
  @media (min-width: 1024px) {
    .b-education-item {
      margin: 5px 0 19px; } }

.b-education-descr {
  font: 1.0625em/1.2 'fira_sansbook'; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-education-descr {
      font: 1.1875em/1 'fira_sansbook'; } }
  @media (min-width: 1024px) {
    .b-education-descr {
      font: 1.0625em/1 'fira_sansbook'; } }

.b-education-date {
  font: .9375em 'fira_sanslight'; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-education-date {
      font: 1.125em 'fira_sanslight'; } }
  @media (min-width: 1024px) {
    .b-education-date {
      font: .9375em 'fira_sanslight'; } }

/* = Fixes for old browsers================================================*/
@media (min-width: 1024px) {
  .no-borderradius .b-avatar {
    margin: 4px 40px 20px 20px; } }

/* = Projects================================================*/
/* = Variables, Media, Extends, Mixins================================================*/
/* font family: fira */
/* font family: proxima nova */
/* colors and default variables */
/* media */
/* mixins */
/* extends */
.list-reset, .b-nav-list, .b-contact-list, .b-education-list, .b-project-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* = Projects page================================================*/
.b-project-item {
  display: block;
  text-align: center;
  margin: 16px 0 33px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-project-item {
      float: left;
      width: 35%;
      margin: 11px 4% 17px; }
      .b-project-item:nth-child(2n+1) {
        margin-left: 11%; }
      .b-project-item:nth-child(2n+2) {
        margin-right: 11%; }
      .b-project-item.slvzr-nth-child402n43141 {
        margin-left: 11%; }
      .b-project-item.slvzr-nth-child402n43241 {
        margin-right: 11%; } }
  @media (min-width: 1024px) {
    .b-project-item {
      float: left;
      width: 30%;
      margin: 14px 2.5% 28px; }
      .b-project-item:nth-child(3n+1) {
        margin-left: 0;
        clear: left; }
      .b-project-item:nth-child(3n+3) {
        margin-right: 0;
        clear: right; }
      .b-project-item.slvzr-nth-child403n43141 {
        margin-left: 0;
        clear: left; }
      .b-project-item.slvzr-nth-child403n43341 {
        margin-right: 0;
        clear: right; } }

/* image */
.b-project-img-container {
  border: 2px solid #3ba8c0;
  border-radius: 6px;
  display: inline-block;
  margin: 0 auto;
  max-width: 210px;
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer; }
  .b-project-img-container.m-dashed {
    border-style: dashed;
    border-width: 1px;
    padding: 1px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-project-img-container {
      max-width: 100%; } }
  @media (min-width: 1024px) {
    .b-project-img-container {
      max-width: 183px; } }
  .b-project-img-container:not(.m-dashed):before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(1, 108, 164, 0.75);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out; }
  .b-project-img-container:hover:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .b-project-img-container:hover .b-project-tip {
    display: block;
    transition: all .5s ease-in-out; }

.b-project-img {
  display: block;
  width: 100%;
  height: 100%; }

/* tip on image */
.b-project-tip {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none; }
  .b-project-tip.m-visible {
    display: block; }

.b-project-tip-text {
  font: 0.75em/1 'fira_sansbook';
  color: #fff;
  padding: 3px;
  border: 2px solid #fff;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle; }

/* description */
.b-project-title {
  line-height: 1;
  margin-bottom: 5px; }
  @media (min-width: 1024px) {
    .b-project-title {
      margin-bottom: 10px; } }

.b-project-link {
  font: 1.15384em/1 'fira_sanslight_italic';
  color: #3ba8c0;
  display: inline-block;
  text-decoration: none; }
  .b-project-link:hover {
    text-decoration: underline; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-project-link {
      font-size: 1.0625em; } }
  @media (min-width: 1024px) {
    .b-project-link {
      font-size: 0.8125em; } }

.b-project-descr {
  font: 1.0625em/1.25 'fira_sanslight';
  color: #4a545d;
  /*display: -webkit-box;	-webkit-line-clamp: 2;	-webkit-box-orient: vertical;	@include center-pos ($width:70%);	overflow: hidden; */
  position: relative;
  max-width: 210px;
  margin: 0 auto;
  box-sizing: content-box; }
  .b-project-descr:after {
    content: '...';
    display: inline-block; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-project-descr {
      font-size: 1.125em;
      max-width: 90%;
      margin: 0 auto;
      box-sizing: content-box; } }
  @media (min-width: 1024px) {
    .b-project-descr {
      font-size: 0.9375em;
      max-width: 95%;
      margin: 0 auto;
      box-sizing: content-box; } }

/* add project  */
.b-project-add {
  background: #edf8fc; }

.b-project-add-text {
  font-size: 1em;
  border: none; }

.b-project-add-icon {
  display: inline-block;
  margin-bottom: 9px; }

.b-project-add-label {
  font: 0.8125em/1 'fira_sanslight';
  color: #3ba8c0;
  white-space: nowrap; }

/* = Fixes for old browsers================================================*/
/* transform */
.no-csstransforms .b-project-tip {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }
.no-csstransforms .b-project-tip:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0; }

/* rgba */
.no-rgba .b-project-tip {
  background: #016CA4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; }
.no-rgba .b-project-tip.m-visible {
  background: none;
  -webkit-filter: none;
  filter: none;
  -ms-filter: none; }

/* = Forms================================================*/
/* = Variables, Media, Extends, Mixins================================================*/
/* font family: fira */
/* font family: proxima nova */
/* colors and default variables */
/* media */
/* mixins */
/* extends */
.list-reset, .b-nav-list, .b-contact-list, .b-education-list, .b-project-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* = Form elements================================================*/
/* form: title */
.b-form-title {
  font: 1.1875em/1.25 'fira_sansbook';
  color: #fff;
  padding: 28px 10px;
  margin: 0;
  text-align: center;
  background: #48cbe8;
  border-bottom: 14px solid #67dffa;
  border-radius: 4px 4px 0 0; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-form-title {
      font: 1.6875em/1.3 'fira_sansbook';
      padding: 38px 15px;
      border-bottom-width: 21px; } }
  @media (min-width: 1024px) {
    .b-form-title {
      font: 1.6875em/1.4 'fira_sansbook';
      padding: 42px 15px;
      border-bottom-width: 17px; } }

.b-form-title.m-big-font {
  font: 1.5em/1.4 'fira_sansbook';
  padding: 11px 10px;
  border-bottom: 9px solid #67dffa; }
  @media (min-width: 768px) {
    .b-form-title.m-big-font {
      font-size: 2.5em;
      padding: 17px 15px;
      border-bottom-width: 15px; } }

/* form: body */
.b-form-body {
  background: #eff3f7;
  border-radius: 4px;
  padding: 10px; }
  @media (min-width: 768px) {
    .b-form-body {
      padding: 20px; } }

/* form: lines */
.b-form-line {
  margin-bottom: 15px; }

.b-form-line.m-spaced {
  margin-bottom: 13px; }
  @media (min-width: 768px) {
    .b-form-line.m-spaced {
      margin-bottom: 20px; } }

.b-form-line.m-reduced {
  margin-bottom: 13px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-form-line.m-reduced {
      margin-bottom: 15px; } }
  @media (min-width: 1024px) {
    .b-form-line.m-reduced {
      margin-bottom: 10px; } }

/* form: labels */
.b-form-label {
  font: 1.125em/1.2 'fira_sanslight';
  color: #58697a;
  margin-bottom: 2px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-form-label {
      font-size: 1.375em; } }
  @media (min-width: 1024px) {
    .b-form-label {
      color: #959aa8;
      font-size: 1.1875em; } }

.b-form-label.m-small-label {
  font-size: 0.9375em;
  margin-bottom: 4px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-form-label.m-small-label {
      font-size: 1.125em; } }
  @media (min-width: 1024px) {
    .b-form-label.m-small-label {
      font-size: 1.0625em; } }

.b-form-label.m-big-label {
  font: 1.3125em/1.2 'fira_sanslight';
  color: #58697a;
  margin-bottom: 2px; }
  @media (min-width: 768px) {
    .b-form-label.m-big-label {
      color: #959aa8;
      font-size: 2.25em;
      margin-bottom: 6px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-form-label.m-big-label {
      margin-bottom: 4px; } }

/* form: fields */
.b-form-field {
  line-height: 0;
  position: relative; }

/* form: controls */
.b-control {
  font: 0.8125em/1.2 'fira_sanslight';
  color: #48cbe8;
  padding: 5px 9px;
  border: 1px solid #48cbe8;
  border-radius: 4px;
  width: 100%; }
  .b-control::-webkit-input-placeholder {
    color: #48cbe8;
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis; }
  .b-control::-moz-placeholder {
    color: #48cbe8;
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis; }
  .b-control:-ms-input-placeholder {
    color: #48cbe8;
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis; }
  .b-control::placeholder {
    color: #48cbe8;
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis; }
  .b-control:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .b-control:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .b-control:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .b-control:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }

.b-textarea {
  padding: 14px 9px;
  resize: vertical; }
  @media (min-width: 768px) {
    .b-textarea {
      height: 183px; } }

.b-textarea.m-short-textarea {
  height: 111px; }

.b-textarea.m-no-resize {
  resize: none; }

.b-input, .b-select {
  height: 41px;
  line-height: 41px; }

.b-input.m-small-input {
  height: 31px;
  line-height: 31px; }

.b-input.m-big-input {
  height: 37px;
  line-height: 37px; }
  @media (min-width: 768px) {
    .b-input.m-big-input {
      font-size: 1.0625em;
      height: 62px;
      line-height: 62px; } }

/* form: custom upload */
.b-custom-upload {
  position: relative; }

.b-input-file {
  position: relative;
  opacity: 0;
  z-index: 3;
  padding: 0; }

.b-fake-upload {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  z-index: 1; }

.b-icon-upload {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  width: 52px;
  background-color: #48cbe8;
  background-image: url('../img/form/browse.png');
  background-repeat: no-repeat;
  background-position: 50% 49%;
  border-radius: 0 4px 4px 0;
  z-index: 2; }

/* form: controls: ie fixes */
.ie .b-input {
  line-height: 1em;
  padding: 12px 9px; }
  .ie .b-input.m-big-input {
    line-height: 1em;
    padding: 12px 9px; }
  .ie .b-input.m-small-input {
    line-height: 1em;
    padding: 9px; }
  @media (min-width: 768px) {
    .ie .b-input.m-big-input {
      line-height: 1em;
      padding: 21px 9px; } }

.ie8 input[type="password"] {
  font-family: arial, sans-serif; }

/* = Form buttons================================================*/
.b-btn-holder {
  margin: 16px 0; }
  @media (min-width: 768px) {
    .b-btn-holder {
      margin: 33px 0; } }

.b-btn-holder.m-reduced {
  margin: 15px 0; }

.b-btn-holder.m-t-reset {
  margin-top: 0; }

.b-btn-holder.m-b-reset {
  margin-bottom: 0; }

.b-btn-holder.m-tb-reset {
  margin-top: 0;
  margin-bottom: 0; }

.b-btn {
  font: 1em/1 'fira_sansbook';
  color: #fff;
  border-radius: 4px;
  padding: 5px 12px;
  min-width: 104px;
  background: #48cbe8;
  border: 2px solid #48cbe8;
  border-bottom-color: #3ba8c0; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-btn {
      font-size: 1.375em;
      min-width: 140px; } }
  @media (min-width: 1024px) {
    .b-btn {
      font-size: 1.1875em;
      min-width: 140px; } }
  .b-btn:hover {
    border-bottom-color: #48cbe8; }
  .b-btn:active {
    border-color: #3ba8c0 #48cbe8 #48cbe8; }

.b-btn[disabled] {
  opacity: 0.5;
  border-bottom-color: #48cbe8; }

.b-btn.m-neg {
  background: #849db5;
  border-color: #849db5 #849db5 #687b8f; }
  .b-btn.m-neg:hover {
    border-bottom-color: #849db5; }
  .b-btn.m-neg:active {
    border-color: #687b8f #849db5 #849db5; }

.b-btn.m-big-btn {
  font-size: 1.3125em;
  min-width: 133px; }
  @media (min-width: 768px) {
    .b-btn.m-big-btn {
      font-size: 2.25em;
      padding: 5px 12px;
      min-width: 226px; } }
  @media (min-width: 1024px) {
    .b-btn.m-big-btn {
      padding: 8px 12px; } }

/* = Form capture================================================*/
.b-capture {
  height: 79px;
  line-height: 79px;
  text-align: center;
  background: #fff; }

.b-capture-img {
  display: inline-block;
  vertical-align: middle; }

/* = Form tip================================================*/
.b-form-tip {
  position: absolute;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  font: 0.6875em/1 'fira_sansbook';
  color: #fff;
  background: #f97e76;
  border-radius: 2px;
  padding: 6px 6px;
  bottom: 100%;
  margin-bottom: 7px;
  right: 0;
  transition: all .2s ease-in-out;
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px); }
  .b-form-tip:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    border: 5px solid;
    border-color: #f97e76 transparent transparent transparent; }
  @media (min-width: 768px) {
    .b-form-tip {
      font-size: 0.8125em;
      padding: 8px 15px;
      bottom: auto;
      right: 100%;
      top: 50%;
      margin-top: -14px;
      margin-right: 7px;
      margin-left: 0;
      -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
      transform: translateX(-100px); }
      .b-form-tip:after {
        left: auto;
        bottom: auto;
        right: -10px;
        top: 50%;
        margin-top: -5px;
        border-color: transparent transparent transparent #f97e76; } }

.b-form-tip.m-right-tip {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px); }
  @media (min-width: 768px) {
    .b-form-tip.m-right-tip {
      right: auto;
      left: 100%;
      margin-left: 7px;
      margin-right: 0; }
      .b-form-tip.m-right-tip:after {
        left: -5px;
        right: auto;
        border-color: transparent #f97e76 transparent transparent; } }

.ie8 .b-form-tip:after {
  display: none; }

/* = Form errors================================================*/
.m-error .b-control {
  color: #959aa8;
  background: #fdd5d2;
  border-color: #f97e76;
  transition: all .2s ease-in-out; }
  .m-error .b-control::-webkit-input-placeholder {
    color: #959aa8; }
  .m-error .b-control::-moz-placeholder {
    color: #959aa8; }
  .m-error .b-control:-ms-input-placeholder {
    color: #959aa8; }
  .m-error .b-control::placeholder {
    color: #959aa8; }

.m-error .b-form-tip {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  visibility: visible; }

/* = Form messages================================================*/
.b-form-msg {
  padding: 5px 10px 5px 5px;
  border-radius: 4px;
  border: 1px solid;
  margin-bottom: 23px; }
  @media (min-width: 1024px) {
    .b-form-msg {
      margin-bottom: 15px; } }
  .b-form-msg.m-success {
    color: #49bb7b;
    background: #c3e9d4;
    border-color: #49bb7b; }
  .b-form-msg.m-error {
    color: #f97e76;
    background: #fdd5d2;
    border-color: #f97e76; }
  .b-form-msg-title {
    font: 1.125em/1.2 'fira_sansbook';
    position: relative; }
  .b-form-msg-body {
    font: 0.8125em/1.2 'fira_sansbook'; }
  @media (min-width: 768px) {
    .b-form-msg-title {
      font-size: 1.5625em; }
    .b-form-msg-body {
      font-size: 0.9375em; } }

/* = Form columns================================================*/
@media (min-width: 768px) {
  .b-columns {
    display: table;
    width: 100%; }
  .b-col {
    display: table-cell;
    vertical-align: middle;
    padding: 0 9px; }
    .b-col:first-child {
      padding-left: 0; }
    .b-col:last-child {
      padding-right: 0; }
  .m-w50 {
    width: 50%; } }

/* columns: mobile */
@media (max-width: 320px), (min-width: 321px) and (max-width: 768px) {
  .b-form-line {
    margin-bottom: 23px; }
  .b-columns:not(.m-mob) .b-col + .b-col {
    margin-top: 23px; } }

.b-columns.m-mob {
  display: table;
  width: 100%; }
  @media (max-width: 320px), (min-width: 321px) and (max-width: 768px) {
    .b-columns.m-mob .b-col {
      display: table-cell;
      vertical-align: middle;
      padding: 0 9px; }
      .b-columns.m-mob .b-col:first-child {
        padding-left: 0; }
      .b-columns.m-mob .b-col:last-child {
        padding-right: 0; }
    .b-columns.m-mob .m-w50 {
      width: 50%; } }

/* = Contact form================================================*/
.m-contacts-form {
  max-width: 95%;
  margin: 7px auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .m-contacts-form {
      max-width: 455px;
      margin: 40px auto; } }
  @media (min-width: 1024px) {
    .m-contacts-form {
      max-width: 402px;
      margin: 26px auto; } }

/* = Login form================================================*/
.b-login-form {
  border-radius: 2px;
  box-shadow: 0 4px 7px rgba(13, 16, 7, 0.29);
  max-width: 590px;
  width: 93%;
  margin: 0 auto 15px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-login-form {
      max-width: 508px; } }

.b-login-form-body {
  padding: 13px 24px 18px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-login-form-body {
      padding: 24px 40px 33px; } }
  @media (min-width: 1024px) {
    .b-login-form-body {
      padding: 24px 82px; } }

/* = Fixes for old browsers================================================*/
/* opacity */
.no-opacity .b-input-file {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

/* = Popup================================================*/
/* = Overlay================================================*/
.l-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(88, 105, 122, 0.75);
  z-index: 1000;
  display: none; }

/* = Popup================================================*/
.b-lightbox {
  z-index: 1001;
  display: none;
  border-radius: 4px;
  width: 97%;
  max-width: 430px;
  position: fixed; }
  @media (min-width: 1024px) {
    .b-lightbox {
      max-width: 360px; } }

/* popup: header */
.b-lightbox-header {
  padding: 5px 35px 5px 20px;
  background: #48cbe8;
  border-bottom: 10px solid #67dffa;
  border-radius: 4px 4px 0 0;
  position: relative; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-lightbox-header {
      text-align: left;
      padding: 8px 45px 8px 16px; } }
  @media (min-width: 1024px) {
    .b-lightbox-header {
      text-align: left;
      padding: 4px 45px 4px 12px; } }

.b-lightbox-title {
  font: 1.5em/1.4 'fira_sansregular';
  color: #fff;
  margin: 0; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-lightbox-title {
      font-size: 1.625em; } }
  @media (min-width: 1024px) {
    .b-lightbox-title {
      font-size: 1.5635em; } }

.b-lightbox-close-btn {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  width: 25px;
  background-position: 100% 50%; }

/* popup: body */
.b-lightbox-body {
  background: #eff3f7;
  border-radius: 0 0 4px 4px;
  padding: 13px 10px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .b-lightbox-body {
      padding: 18px 27px; } }
  @media (min-width: 1024px) {
    .b-lightbox-body {
      padding: 9px 20px; } }

/* = Fixes for old browsers================================================*/
/* rgba */
.no-rgba .l-overlay {
  background: #7e8c99;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; }

/* = Animation================================================*/
/* = Variables, Media, Extends, Mixins================================================*/
/* font family: fira */
/* font family: proxima nova */
/* colors and default variables */
/* media */
/* mixins */
/* extends */
.list-reset, .b-nav-list, .b-contact-list, .b-education-list, .b-project-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* = Animation================================================*/
.animation-params, .fadeOutRight, .fadeInRight {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block; }

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight; }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1; }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

@keyframes fadeOutRight {
  0% {
    opacity: 1; }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

/* = Fixes for old browsers================================================*/
.no-cssanimations .fadeInRight {
  display: block; }
.no-cssanimations .fadeOutRight {
  display: none; }
